includes:
    - vendor/brandembassy/coding-standard/default-phpstan.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/marc-mabe/php-enum-phpstan/extension.neon
    - phar://vendor/phpstan/phpstan/phpstan.phar/conf/bleedingEdge.neon

parameters:
    excludePaths:
        - %rootDir%/../../../temp/*

    level: 8
    paths:
        - src
        - tests

    tmpDir: temp/phpstan

