extensions:
    slimApi: \BrandEmbassy\Slim\DI\SlimApiExtension

services:
    - BrandEmbassy\Slim\RouterFactory("%configuration%", ...)::create

parameters:
    api:
        routes: []

    configuration:
        slimConfiguration:
            settings:
                removeDefaultHandlers: true
        apiDefinitionKey: "api"

slimApi: "%configuration%"
