extensions:
    slimApi: \BrandEmbassy\Slim\DI\SlimApiExtension


services:
    - BrandEmbassyTest\Slim\Dummy\NotFoundHandler
    - BrandEmbassyTest\Slim\Dummy\NotAllowedHandler
    - BrandEmbassyTest\Slim\Dummy\ApiErrorHandler
    - BrandEmbassyTest\Slim\Dummy\GoldenKeyAuthMiddleware
    - BrandEmbassyTest\Slim\Dummy\CreateChannelAction
    - BrandEmbassyTest\Slim\Dummy\ErroringAction
    - BrandEmbassyTest\Slim\Dummy\GlobalMiddleware

parameters:
    api:
        handlers:
            notFound: BrandEmbassyTest\Slim\Dummy\NotFoundHandler
            notAllowed: BrandEmbassyTest\Slim\Dummy\NotAllowedHandler
            error: BrandEmbassyTest\Slim\Dummy\ApiErrorHandler

        routes:
            new-api:
                "2.0":
                    '/channels':
                        post|put:
                            service: BrandEmbassyTest\Slim\Dummy\CreateChannelAction
                            middleware:
                                - BrandEmbassyTest\Slim\Dummy\GoldenKeyAuthMiddleware

                    '/error':
                        post:
                            service: BrandEmbassyTest\Slim\Dummy\ErroringAction

        globalMiddlewares:
            - BrandEmbassyTest\Slim\Dummy\GlobalMiddleware

slimApi:
    slimConfiguration:
        settings:
            removeDefaultHandlers: true

    apiDefinitionKey: "api"
