extensions:
    slimApi: \BrandEmbassy\Slim\DI\SlimApiExtension


services:
    - BrandEmbassyTest\Slim\Sample\NotFoundHandler
    - BrandEmbassyTest\Slim\Sample\NotAllowedHandler
    - BrandEmbassyTest\Slim\Sample\ApiErrorHandler
    - BrandEmbassyTest\Slim\Sample\GoldenKeyAuthMiddleware
    - BrandEmbassyTest\Slim\Sample\CreateChannelAction
    - BrandEmbassyTest\Slim\Sample\GetHelloWorldAction
    - BrandEmbassyTest\Slim\Sample\ErroringAction
    - BrandEmbassyTest\Slim\Sample\BeforeRequestMiddleware
    - BrandEmbassyTest\Slim\Sample\BeforeRouteMiddleware

parameters:
    api:
        handlers:
            notFound: BrandEmbassyTest\Slim\Sample\NotFoundHandler
            notAllowed: BrandEmbassyTest\Slim\Sample\NotAllowedHandler
            error: BrandEmbassyTest\Slim\Sample\ApiErrorHandler

        routes:
            "app":
                "":
                    "":
                        get:
                            service: BrandEmbassyTest\Slim\Sample\GetHelloWorldAction


            new-api:
                "2.0":
                    '/channels':
                        post:
                            service: BrandEmbassyTest\Slim\Sample\CreateChannelAction
                            middleware:
                                - BrandEmbassyTest\Slim\Sample\GoldenKeyAuthMiddleware

                    '/error':
                        post:
                            service: BrandEmbassyTest\Slim\Sample\ErroringAction

        beforeRouteMiddlewares:
            - BrandEmbassyTest\Slim\Sample\BeforeRouteMiddleware

        beforeRequestMiddlewares:
            - BrandEmbassyTest\Slim\Sample\BeforeRequestMiddleware


slimApi:
    slimConfiguration:
        settings:
            removeDefaultHandlers: true
            myCustomOption: 'Sample'

    apiDefinitionKey: "api"
