extensions:
    slimApi: \BrandEmbassy\Slim\DI\SlimApiExtension


services:
    - BrandEmbassyTest\Slim\Sample\NotFoundHandler
    - BrandEmbassyTest\Slim\Sample\NotAllowedHandler
    - BrandEmbassyTest\Slim\Sample\ApiErrorHandler
    - BrandEmbassyTest\Slim\Sample\GoldenKeyAuthMiddleware
    - BrandEmbassyTest\Slim\Sample\CreateChannelRoute
    - BrandEmbassyTest\Slim\Sample\ListChannelsRoute
    - BrandEmbassyTest\Slim\Sample\ErrorThrowingRoute
    - BrandEmbassyTest\Slim\Sample\BeforeRequestMiddleware
    - BrandEmbassyTest\Slim\Sample\BeforeRouteMiddleware
    - BrandEmbassyTest\Slim\Sample\CreateChannelUserRoute
    - BrandEmbassyTest\Slim\Sample\GroupMiddleware
    - BrandEmbassyTest\Slim\Sample\OnlyApiGroupMiddleware
    helloWorldRoute: BrandEmbassyTest\Slim\Sample\HelloWorldRoute

slimApi:
    apiPrefix: '/tests'
    slimConfiguration:
        settings:
            removeDefaultHandlers: true
            myCustomOption: 'Sample'

    handlers:
        notFoundHandler: BrandEmbassyTest\Slim\Sample\NotFoundHandler
        notAllowedHandler: BrandEmbassyTest\Slim\Sample\NotAllowedHandler
        errorHandler: BrandEmbassyTest\Slim\Sample\ApiErrorHandler

    routes:
        "app":
            "/hello-world-as-class-name":
                get:
                    service: BrandEmbassyTest\Slim\Sample\HelloWorldRoute
                    middlewareGroups:
                        - testGroup
            "/hello-world-as-service-name":
                get:
                    service: helloWorldRoute
                    middlewareGroups:
                        - testGroup

        "api":
            '/channels':
                get:
                    service: BrandEmbassyTest\Slim\Sample\ListChannelsRoute
                    middlewareGroups:
                        - testGroup
                post:
                    service: BrandEmbassyTest\Slim\Sample\CreateChannelRoute
                    middlewares:
                        - BrandEmbassyTest\Slim\Sample\GoldenKeyAuthMiddleware
                    middlewareGroups:
                        - testGroup

            '/channels/{channelId}/users':
                post:
                    name: getChannelUsers
                    service: BrandEmbassyTest\Slim\Sample\CreateChannelUserRoute
                    middlewareGroups:
                        - testGroup

            '/error':
                post:
                    service: BrandEmbassyTest\Slim\Sample\ErrorThrowingRoute
                    middlewareGroups:
                        - testGroup

    middlewareGroups:
        testGroup:
            - BrandEmbassyTest\Slim\Sample\GroupMiddleware
        api:
            - BrandEmbassyTest\Slim\Sample\OnlyApiGroupMiddleware

    beforeRouteMiddlewares:
        - BrandEmbassyTest\Slim\Sample\BeforeRouteMiddleware

    beforeRequestMiddlewares:
        - BrandEmbassyTest\Slim\Sample\BeforeRequestMiddleware
