extensions:
    slimApi: \BrandEmbassy\Slim\DI\SlimApiExtension


parameters:
    api:
        routes: []

slimApi:
    slimConfiguration:
        settings:
            removeDefaultHandlers: false

    apiDefinitionKey: "api"
