services:
    responseFactory: BrandEmbassy\Slim\Response\DefaultResponseFactory
    requestFactory: BrandEmbassy\Slim\Request\DefaultRequestFactory
    routeDefinitionFactory: BrandEmbassy\Slim\Route\RouteDefinitionFactory
    middlewareFactory: BrandEmbassy\Slim\Middleware\MiddlewareFactory
    controllerDefinitionFactory: BrandEmbassy\Slim\Controller\ControllerDefinitionFactory
    slimContainerFactory: BrandEmbassy\Slim\SlimContainerFactory
